<div class="ui container">
  <form (submit)="onTermSubmit($event)">
    <div class="ui fluid icon input">
      <input
        (input)="term = getValue($event)"
        type="text"
        placeholder="Search..."
      />
      <i class="search icon"></i>
    </div>
  </form>

  <div class="ui list" *ngFor="let item of list">
    <div class="item">
      <div class="content">
        <a
          class="header"
          target="_blank"
          [href]="'https://en.wikipedia.org?curid=' + item.pageid"
          >{{ item.title }}</a
        >
        <div class="description" [innerHtml]="item.snippet"></div>
      </div>
    </div>
  </div>
</div>
